.table{
  background-color: white;
  color:black;
}
.panel-body{
  border-radius: 5px;
}
::ng-deep input.mat-input-element { color: white; }
//.mat-mdc-row {
//  color: black;
//}
//.mat-mdc-header-row{
//  color: black;
//}
