<div class="form">
  <div mat-dialog-title class="formTitle">
    <h4>{{ data.method }}</h4>
  </div>
  <mat-dialog-content>
    <form [formGroup]="clientForm">
      <mat-form-field appearance="outline">
        <mat-label>Имя</mat-label>
        <input type="text" matInput required formControlName="name">
        <mat-error *ngIf="clientForm.get('name')?.hasError('required')">Обязательное поле</mat-error>
        <mat-error *ngIf="clientForm.get('name')?.hasError('minlength')">Минимальное количество символов: 2</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Фамилия</mat-label>
        <input type="text" matInput required formControlName="surname">
        <mat-error *ngIf="clientForm.get('surname')?.hasError('required')">Обязательное поле</mat-error>
        <mat-error *ngIf="clientForm.get('surname')?.hasError('minlength')">Минимальное количество символов: 2
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input type="text" matInput required formControlName="email">
        <mat-error *ngIf="f['email'].errors?.['required']">Обязательное поле</mat-error>
        <mat-error *ngIf="f['email'].errors?.['email']">Некорректный адрес</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Телефон</mat-label>
        <input type="text" matInput formControlName="phone">
        <mat-error *ngIf="f['phone'].errors?.['pattern']">Некорректный номер телефона</mat-error>
      </mat-form-field>
    </form>

  </mat-dialog-content>
  <div mat-dialog-actions class="buttons">
    <button mat-button color="primary" mat-dialog-close type="button" (click)="cancel()" class="success">Отмена</button>
    <button mat-raised-button color="primary" (click)="save()" type="button" [disabled]="clientForm.invalid"
            class="success">
      <span>Сохранить</span>
    </button>
  </div>

</div>
